<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%= content_for(:title) || "Fantasy Fumble" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">


    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "bootstrap.min.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    </head>

  <body class="d-flex flex-column h-100">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="<%= root_path %>"><%= Rails.configuration.site_title %></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link <%= active_page "home", @page_name %> " aria-current="page" href="<%= root_path %>">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= active_page "points_calculator", @page_name %>" href="/points-calculator">Points Calculator</a>
            </li>
          </ul>
          <form class="d-flex">
            <a href="<%= new_session_path%>" class="btn btn-outline-success" role="button">Sign In</a>
          </form>
        </div>
      </div>
    </nav>
    </nav>
  </header>
  <main class="flex-shrink-0">
    <div class="container">
      <%= yield %>
    </div>
  </main>
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Coded without coffee by <a href="https://github.com/mafmartins" target="_blank">Márcio Martins</a></span>
    </div>
  </footer>
  </body>
</html>
